* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

.background{
  background-image: url("https://images.pexels.com/photos/3014826/pexels-photo-3014826.jpeg?cs=srgb&dl=pexels-technobulka-3014826.jpg&fm=jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.login-box{
  position: relative;
  width: 450px;
  padding: 40px;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.60);
  overflow: hidden; 
  backdrop-filter: blur(0.5px);
}

.input-field {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px auto;
}

.input-field input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.159);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 0 25px;
}


.input-field label{
  color: #fff;
  padding-top: 10px;
}

.input-field input::placeholder {
  color: #ffffffc2;
}

.login-box button {
  width: 100%;
  height: 50px;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  text-shadow: none;
}

.login-box h4{
  color: #fff;
  text-align: center;
}

.botao{
  margin-top: 40px;
}

.recup {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin-top: 40px;
}

.recup label {
  color: #fff;
}

.recup h3{
  font-size: 14.5px;
  color:#fff;
  margin-right: 110px;
}

.check{
  margin-left: 10px;
}

.recup input {
  margin-right: 2px;
}

.recup a,
.signup-link p a {
  color: #fff;
  text-decoration: none;
}

.recup a:hover,
.signup-link p :hover {
  text-decoration: underline;
}

.login-box .signup-link {
  font-size: 15px;
  text-align: center;
  margin: 20px 0 10px;
  text-shadow: none;
}

.dir-cadastro{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  color: #fffffff0;
}

.dir-cadastro a:hover {
  text-decoration: underline;
}