body,
html {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

.background {
    background-image: url("https://images.pexels.com/photos/3014826/pexels-photo-3014826.jpeg?cs=srgb&dl=pexels-technobulka-3014826.jpg&fm=jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.cadastro-box input{
    background-color: transparent;
}

.cadastro-box {
    position: relative;
    width: 700px;
    padding: 40px;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.45);
    overflow: hidden;
    backdrop-filter: blur(0.5px);
}

.signup-field {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px auto;
}

.signup-field input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.159);
    border-radius: 40px;
    font-size: 16px;
}

.signup-field label {
    color: #fff;
    padding-top: 10px;
}

.signup-field input::placeholder {
    color: #ffffffc2;
}

.signup-field input:focus {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.59); 
    color:#fff;
}


.cadastro-box button {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    text-shadow: none;
}

.cadastro-box h4 {
    color: #fff;
    text-align: center;

}